.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  background-color: #171717;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  max-width: 1700px;
  width: 100%;

  padding: 0 50px;
}

.search-field {
  width: 320px;
  height: 28px;

  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 99px;
  outline: none;

  color: rgba(255, 255, 255, 0.679);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.1s;

  background-color: transparent;
}

.search-field:focus {
  outline: 1px solid #28D9BA;
  box-shadow: 0px 0px 10px rgba(40, 217, 186, 0.6);
}

.search-button {
  margin-left: -40px;
  border: none;

  cursor: pointer;

  font-size: 15px;
  color:rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.search-button:hover {
  color: #28d9b9c7;
  text-shadow: 0px 0px 10px rgba(40, 217, 186, 0.6);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 40px;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 10px;

  color: white;
  text-decoration: none;
}

.link:hover {
  color: #28D9BA;
  text-shadow: 0px 0px 20px rgba(40, 217, 186, 0.6);
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.language label {
  font-size: 14px;
}

.languages label input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 9px;
  height: 9px;

  margin-right: 10px;

  outline: 1.5px solid #fff;
  outline-offset: 2px;
  border-radius: 50%;

  transition: 0.1s;
}

.languages input[type="radio"]:checked {
  background-color: #28D9BA;
  box-shadow: 0px 0px 20px rgba(40, 217, 186, 1);
}

@media (max-width: 950px) {

}